<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="El_Merendero_Massimo_Pavoni.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <userSettings>
        <El_Merendero_Massimo_Pavoni.Properties.Settings>
            <setting name="EndInsertOrdine" serializeAs="String">
                <value>10:00:00</value>
            </setting>
            <setting name="EndConfirmOrdini" serializeAs="String">
                <value>11:00:00</value>
            </setting>
        </El_Merendero_Massimo_Pavoni.Properties.Settings>
    </userSettings>
</configuration>